<!-- Flashcard -->
 <h1>Flashcards</h1>
 
    <div id="flashcard-container"></div>
    
    <script src="/js/flashcards.js"></script> <!-- references js file in public/js folder that will handle flashcard functionality-->