<!-- Account settings 
    views/accountsettings.handlebars-->

<div class="container">
  <h1>Account Settings</h1>
  <div class="row">
    <div class="col-md-6">

        <!-- Change Username option-->
        <button id="change-username-btn" class="btn btn-primary">Change Username</button>
        <form id="change-username-form" method="POST" action="/change-username" style="display: none;">
        
        <div class="form-group">
                <label for="username">New Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

        <!-- Change Password option -->
        <button id="change-password-btn" class="btn btn-primary">Change Password</button>
        <form id="change-password-form" method="POST" action="/change-password" style="display: none;">
        
        <div class="form-group">
                <label for="current-password">Current Password:</label>
                <input type="password" class="form-control" id="current-password" name="currentPassword" required>
                </div>
                <div class="form-group">
                <label for="new-password">New Password:</label>
                <input type="password" class="form-control" id="new-password" name="newPassword" required>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

        <!-- Delete Account option -->
        <button id="delete-account-btn" class="btn btn-danger">Delete Account</button>
        <form id="delete-account-form" method="POST" action="/delete-account" style="display: none;">
            <div class="form-group">
                <label for="confirm-delete">Are you sure you want to delete your account?</label>
                <input type="checkbox" class="form-check-input" id="confirm-delete" name="confirmDelete" required>
            </div>
        </form>
      
    </div>
  </div>
</div>


<script>
  const changeUsernameBtn = document.querySelector('#change-username-btn');
  const changeUsernameForm = document.querySelector('#change-username-form');
  changeUsernameBtn.addEventListener('click', () => {
    changeUsernameForm.style.display = 'block';
  });

  const changePasswordBtn = document.querySelector('#change-password-btn');
  const changePasswordForm = document.querySelector('#change-password-form');
  changePasswordBtn.addEventListener('click', () => {
    changePasswordForm.style.display = 'block';
  });

  const deleteAccountBtn = document.querySelector('#delete-account-btn');
  const deleteAccountForm = document.querySelector('#delete-account-form');
  deleteAccountBtn.addEventListener('click', () => {
    deleteAccountForm.style.display = 'block';
  });
</script>
