<!-- Quiz Page Partial
    views/partials/quizpage.handlebars-->

<h1>Category</h1>

<div id="category-container"></div>
{{#each data}}
    <div class="card category">
        <div class="card-body bg-dark">
            <h3 class="card-title">{{data.name}}</h3>
            <p class="card-text">{{this.name}}</p>
            <a href="/category/{{this.id}}">Edit Category</a>
        </div>
    </div>
{{/each}}


